body {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

:global(.center-content) {
    margin: 0 10%;
    margin-top: 2em;
}  

.ember-application {
    margin: 0px;
}

.jumbo-wrapper {
    display: flex;
    width: calc(100vw - 15px);
    height: 100vh;
    align-content: center;
    
    > div {
        height: 100%;
        width: 50%;
    }
}

.tax-engine-wallpaper {
    background-color: var(--primary-color);
    display: flex;
    
    img {
        margin: auto;
        width: 50%;
        height: 50%;
    }
}

.login-form.container {
    display: flex;
    align-items: center;
    text-align: center;
}

.login-form > div {
    width: 75%;
    height: 75%;
    margin: 0 auto;
}
