<div local-class="jumbo-wrapper">
  <div local-class="tax-engine-wallpaper">
    <img src="/assets/logos/tax_engine-login.svg" alt="" role="presentation">
  </div>
  <div local-class="login-form container">
    <div>
      <LoginForm @authenticate={{this.authenticate}} />
      <img src="/assets/logos/powered_by_ecs.svg" alt="powered by Ecaresoft">
    </div>
  </div>
</div>
