.field-key {
  font-weight: bold;
  margin-bottom: 0.25em;
}

.input-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.input-field input {
  flex-grow: 1;
  margin-left: 0.75em;
}

.extra-field-container {
  margin-bottom: 1em;
  padding-left: 0.5em;
  border-left: 2px solid darkgray;
  
  /* Placed to avoid non implemented editing. To be removed */
  pointer-events: none;
}

.extra-field-label {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.25em;
  display: inline-block;
}

.new-field {
  display: flex;
}

.new-field button {
  flex-grow: 0.5;
  line-height: 1.5em;
  font-weight: bold;
  border-radius: 4px;
  color: var(--text-color-lighter);
  background-color: transparent;
  border: 1px solid darkgray;
}

.new-input-field-container {
  flex-wrap: inherit;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  background-color: var(--text-color-lighter);
}

.new-input-field-container input {
  width: 40%;
}
