.country-component {
  min-width: 300px;
  
  .country-label {
    font-size: 1.25em;
    border-bottom: darkgray solid 3px;
    margin-bottom: 2em;

    p {
      width: min-content;
      margin: 0 0 -3px 1em;
      border-bottom: blue solid 3px;
      line-height: 2em;
      white-space: nowrap;
    }
  }

  > :global(.tax-component) {
    font-size: 0.75em;
    margin: 1em 0;
  }
}
