<div class="country-component" local-class="country-component">
  <div local-class="country-label">
    <p>{{@rulesGroup.countryName}}</p>
  </div>
  {{#each @rulesGroup.rules as |taxRule|}}
    <Tax @rule={{taxRule}} @countries={{@countries}} />
  {{/each}}
</div>
