<div local-class="country-component">
  <div local-class="country-label">
    <p>{{@countryName}}</p>
  </div>
  <div local-class="tax-component">
    <p>Tax component</p>
  </div>
  <div local-class="tax-component">
    <p>This will be replaced</p>
  </div>
  <div local-class="tax-component">
    <p>With the tax-component</p>
  </div>
</div>
