<div class="country-component" local-class="country-component">
  <div local-class="country-label">
    <p>{{@countryName}}</p>
  </div>
  <Tax @taxName="0%" />
  <Tax @taxName="16%" />
  <Tax @taxName="Border" />
</div>
