<div local-class="form-container">
  <img src="" alt="TaxEngine" local-class="img-tax-engine">
  <form>
    <label>User</label>
    <input type="text" local-class="text-input">
    <label>Password:</label>
    <input type="password" local-class="text-input">
    <div local-class="checkbox-container">
      <input type="checkbox">
      <span local-class="darkgray">Rember me</span>
    </div>
    <input type="submit" value="Login" local-class="login-submit">
    <p local-class="darkgray">Remember my password</p>
  </form>
</div>
