:global(.open) {
  
  > .content {
    opacity: 1 !important;
    max-height: 500px !important;
  }

  .collapsible aside {
    background-image: url("/assets/icons/expand_less-24px.svg") !important;
  }
}

.tax-component {
  background-color: white;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.05);

  button:focus, select:focus, select option {
    outline: none;
  }

  select {
    background-color: white;
  }
  
  .collapsible {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;

    aside {
      height: 2.5em;
      width: 2.5em;
      border: none;
      background-size: cover;
      background-color: transparent;
      background-image: url("/assets/icons/expand_more-24px.svg");
    }

    * {
      pointer-events: none;
    }
  }
  
  .active, .collapsible:hover {
    background-color: #eee;
  }

  .hard-input {

    input, select, .date-picker, textarea {
      pointer-events: none;
      color: rgba(0,0,0,.65);
      background-color: #f8f8f8 !important;
    }

    .input-field {
      margin: 1em 0 !important;
    }
  }
  
  .content {
    max-height: 0;
    opacity: 0;
    padding: 0 1em;
    overflow: hidden;
    color: rgba(0,0,0,.65);
    transition: opacity 0.4s ease, max-height 0.4s ease;

    input, select, textarea {
      border-radius: 4px;
      border: 1px solid #eee;
      padding: 0.25em;

      &:focus {
        border: 1px solid blue;
      }
    }
    
    input[type='checkbox'] {
      margin: 0 4px;
      width: 1.25em;
      height: 1.25em;
    }

    .input-field {
      display: flex;
      margin: 0.5em 0;
      align-items: center;
      min-height: 2em;

      label {
        font-weight: bold;
        margin-right: 0.25em;
        white-space: nowrap;
      }
    }

    .name-input {
      input {
        width: 100%;
      }
    }

    .date-input {

      label {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
      }

      .date-picker {
        width: 100%;
        height: calc(2em - 2px);
        padding: 0 8px;
        margin-left: 4px;
      }

      .calendar-icon {    
        margin-left: -2em;
        pointer-events: none;
        height: 1.5em;
        padding: 0.25em;
      }
    }

    .product-category-input {
      input {
        width: 100%;
      }
    }

    .options-input {
      display: block;

      > div {
        display: flex;
      }

      select {
        width: 100%;
        height: 2em;
        padding: 0 8px;
        margin: 4px 0;
        color: rgba(0,0,0,.65);
        background-color: transparent;
      }
      
      select:focus {
        outline: none;
        background-color: transparent;
      }
      
      select option {
        outline: none;
        color: black;
        margin: 0.5em 0;
        background-color: transparent;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 4px 4px 4px rgba(0,0,0,0.05);
      }
    }

    .tax-type {

      span {
        margin-right: 1em;
      }
    }

    .tax-rate {

      input {
        width: 6em;
      }
    }

    .additional-data {
      display: block;

      p {
        margin: 0;
        margin-left: 0.5em
      }

      textarea {
        width: calc(100% - 0.5em);
        font-size: 12px;
        resize: none;
        outline: none;
      }
    }

    .display-menu {
      width: fit-content;
      float: right;
      right: 24px;
      flex-direction: column;
      display: inline-block;

      button {

        img {
          pointer-events: none;
        }
      }


      button.more {
        height: 2em;
        width: 2em;
        border: none;
        background-color: transparent;
        margin-bottom: 1em;
        float: right;
      }

      button.more.closed {
        background-image: url('/assets/icons/more_horiz-24px.svg');
      }

      button.more.open {
        background-image: url('/assets/icons/clear-blue-24px.svg');
      }

      .dropdown-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        min-width: 96px;
        border-radius: 4px;
        transform: translateX(-100%);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        background-color: white;
        transition: opacity 0.15s ease;

        button {
          text-align: left;
          border: none;
          border-radius: 4px;
          margin: 4px;
          background-color: transparent;

          img {
            margin-bottom: -4px;
            margin-right: 0.25em;
            height: 1.5em;
            pointer-events: none;
          }
        }
      }
    }

    .edit-buttons {
      margin-bottom: 1em;
      
      button {
        line-height: 1.5em;
        font-weight: bold;
        border-radius: 4px;
        color: darkgray;
        background-color: transparent;
        border: 1px solid blue;
      }

      button[type='submit'] {
        background-color: blue;
        color: white;
      }
    }
  }
}

:global(.save-editions-modal) {
  position: relative;
  text-align: center;
  color: #444;
  
  > :global(.close-modal-icon) {
    position: absolute;
    right: 0;
    background-image: url('/assets/icons/clear-black-24px.svg');
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
  }

  > :global(.warning-img) {
    height: 4em;
    margin-top: 4em;
  }

  > p {
    text-align: center;
    font-weight: bold;
    padding: 0 4em;
  }

  > :global(.edit-buttons) {
    margin-bottom: 4em;
    text-align: center;

    button {
      line-height: 1.5em;
      font-weight: bold;
      border-radius: 4px;
      color: darkgray;
      background-color: transparent;
      border: 1px solid blue;
    }
    
    button[type='submit'] {
      background-color: blue;
      color: white;
    }
  }
}

:global(.confirmation-modal) {
  color: #444;
  
  > p {
    margin: 4em 0;
    padding: 0 2em;
    font-weight: bold;
  }
  
  button {
    margin-left: 100%;
    transform: translateX(-100%);
    background-image: url('/assets/icons/clear-black-24px.svg');
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
  }
}

  