body {
  overflow-y: overlay;
}

.countries-container {
  display: flex;
  overflow-x: overlay;
  margin: 2em;
  margin-bottom: 1em;
  flex-grow: 1;

  > :global(.country-component) {
    margin: 1em;
  }
}

:global(.tax-component) {
  font-size: 0.75em;
}

.new-tax {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  box-shadow: rgba(0,0,0,0.35) 4px 4px 4px;
  border: none;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background-color: blue;
  font-size: 2em;
  color: white;
}

.powered-by-ecs {
  margin-bottom: 1em;
  margin-left: 2em;
  width: fit-content;
  height: 2em;
}
