.countries-container {
  display: flex;
  overflow-x: scroll;
  margin: 2em;
  flex-grow: 1;

  > div {
    margin: 2em;
  }

  .add-country {
    background-color: transparent;
    border: none;
    margin: 0.5em;
    font-size: 1.5em;
    min-width: 10em;
    height: 3em;
    padding: 1em;
    font-weight: bolder;
  }

  .add-country:hover {
    cursor: pointer;
  }
}
