<UserBar />
<div local-class="countries-container">
  <Country @countryName="Mexico" />
  <Country @countryName="Argentina" />
  <Country @countryName="Kingdom of Saudi Arabia" />

  <button local-class="add-country" type="button">
    + Add country
  </button>
</div>
