<UserBar />
<div local-class="countries-container">
  <Country @countryName="Mexico" />
  <Country @countryName="Argentina" />
  <Country @countryName="Kingdom of Saudi Arabia" />

  <button local-class="add-country" type="button">
    + Add country
  </button>
</div>
<img src="/assets/logos/powered_by_ecs.svg" alt="powered by Ecaresoft" local-class="powered-by-ecs" />
