header {
  background-color: white;
  width: 100%;
  flex: 0 !important;
  
  .user-bar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin: 0 auto;
    padding: 0 0.5em;

    > img {
      height: 40px;
    }

    .user-email {
      color: var(--text-color-light);
      font-family: 'Montserrat', sans-serif;
    }

    > div {
      display: flex;
      align-items: center;

      button.logout {
        width: 1em;
        height: 1em;
        background-color: transparent;
        border: none;
        margin: 8px;
        background-image: url("/assets/icons/power_settings_new-24px.svg");
        /* TODO: Change url to a better image */
      }
    }
  }
}


@media (min-width: 992px) {
  .user-bar {
    max-width: 960px;
    padding: 0 2em;
  }
}
